<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Avendaño Leonel</title>
</head >
<body>
    <header>
    <nav>
        <a href="#seccion1">Caracteristicas</a>
        <a href="#seccion2">Desarrollo de Juegos y Simulaciones Visuales</a>
        <a href="#seccion3">Programacion por bloques</a>
    </nav>
        <h1> Programación Visual</h1>
        <p>La programación visual, también conocida como lenguaje de programación visual (VPL), es un enfoque en el que los programas se crean y expresan utilizando elementos gráficos en lugar de texto. Este método permite a los usuarios diseñar algoritmos y sistemas mediante la manipulación de bloques, iconos u otros elementos visuales, lo que facilita la comprensión y el aprendizaje, especialmente para los principiantes en programación.</p>
        <p>En el ámbito educativo, los entornos de programación por bloques, como Scratch, son ejemplos destacados de herramientas que emplean la programación visual. Estas herramientas simplifican el proceso de aprendizaje al permitir a los usuarios construir programas mediante la combinación y manipulación de bloques de código predefinidos, lo que reduce las barreras de entrada y hace que la programación sea más accesible y menos intimidante.</p>
    </header>
    
    <main>
        <section id="seccion1">
            <h2>Caracteristicas </h2>
            <p></p>
            <ul>
                <li>Manipulación de elementos gráficos</li>
                <li> Interactividad y facilidad de uso</li>
                <li>Reducción de la complejidad</li>
                <li>Facilita el aprendizaje </li>
                <li>Promueve la creatividad</li>
            </ul>
            
        </section>
        <section id="seccion2">
            <h3>Desarrollo de Juegos y Simulaciones Visuales</h3>
            <p>Definición: El diseño de interfaces gráficas de usuario implica la creación de aplicaciones y programas que permiten a los usuarios interactuar con dispositivos y sistemas a través de elementos gráficos.</p>
            <p>Herramientas y Tecnologías: Swing, JavaFX, GTK, Qt, React.js, Angular.</p>
            <p>Importancia: Las interfaces gráficas de usuario son fundamentales para mejorar la usabilidad y la satisfacción del usuario al determinar cómo interactúan las personas con las aplicaciones y sistemas informáticos.</p>
        </section>
        
        <section id="seccion3">
            <h2>Programacion por bloques</h2>
            <table>
        <tr>
            <th>Aspecto</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Definición</td>
            <td>La programación por bloques es un enfoque de programación que utiliza bloques gráficos o visuales para representar la lógica y el flujo de un programa.</td>
        </tr>
        <tr>
            <td>Facilidad de uso</td>
            <td>Este enfoque simplifica la creación de programas al permitir a los usuarios ensamblar bloques de código visualmente, sin necesidad de escribir código de programación tradicional.</td>
        </tr>
        <tr>
            <td>Entornos populares</td>
            <td>Existen varios entornos de programación por bloques ampliamente utilizados, como Scratch, Blockly, y MIT App Inventor, que son utilizados en entornos educativos y de desarrollo de software.</td>
        </tr>
        <tr>
            <td>Beneficios educativos</td>
            <td>La programación por bloques es especialmente útil en la enseñanza de conceptos de programación a estudiantes de todas las edades, ya que proporciona una forma intuitiva y visual de aprender a programar.</td>
        </tr>
        <tr>
            <td>Flexibilidad</td>
            <td>Estos entornos suelen ofrecer una amplia gama de bloques de código predefinidos que permiten a los usuarios crear una variedad de programas, desde juegos interactivos hasta aplicaciones móviles.</td>
        </tr>
      </table>
        </section>
        
    </main>
    <aside>
        <h2>JAVA</h2>
		<p>Java es una opción popular para la programación visual debido a sus robustas bibliotecas gráficas y herramientas de desarrollo que facilitan la creación de interfaces de usuario intuitivas y atractivas.</p>
        <img src="/img/logo.png" alt="Imagen Adicional">
        <p></p>
        <a href="https://www.java.com/es/" target="_blank">Descarga Java Aqui</a>
    </aside>
    
    <footer>
        <p>Contáctanos: ProgramacionVisual@gmail.com</p>
        <p>Síguenos en nuestras redes sociales:</p>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
    </footer>
</body>
</html>