<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Avendaño Leonel</title>
<style>

.tabla {
  border-collapse: collapse;
  width: 100%;
  background-color: #A8EDE3
}

.tabla th, .tabla td {
  border: 1px solid black;
  padding: 8px;
}
</style>
</head >
<body style="background-color: #86F7E6 ;">
    <header>
    <nav style="background-color: #469186; padding: 1.5%; display: block;">
        <a href="#seccion1" style="padding: 10px">Caracteristicas</a>
        <a href="#seccion2" style="padding: 10px" >Desarrollo de Juegos y Simulaciones Visuales</a>
        <a href="#seccion3" style="padding: 10px" >Programacion por bloques</a>
    </nav>
        <h1> Programación Visual</h1>
        <p>La programación visual, también conocida como lenguaje de programación visual (VPL), es un enfoque en el que los programas se crean y expresan utilizando elementos gráficos en lugar de texto. Este método permite a los usuarios diseñar algoritmos y sistemas mediante la manipulación de bloques, iconos u otros elementos visuales, lo que facilita la comprensión y el aprendizaje, especialmente para los principiantes en programación.</p>
        <p>En el ámbito educativo, los entornos de programación por bloques, como Scratch, son ejemplos destacados de herramientas que emplean la programación visual. Estas herramientas simplifican el proceso de aprendizaje al permitir a los usuarios construir programas mediante la combinación y manipulación de bloques de código predefinidos, lo que reduce las barreras de entrada y hace que la programación sea más accesible y menos intimidante.</p>
    </header>
    
    <main>
        <section id="seccion1">
            <h2>Caracteristicas </h2>
            <p></p>
            <ul>
                <li>Manipulación de elementos gráficos</li>
                <li> Interactividad y facilidad de uso</li>
                <li>Reducción de la complejidad</li>
                <li>Facilita el aprendizaje </li>
                <li>Promueve la creatividad</li>
            </ul>
            
        </section>
        <section id="seccion2">
            <h3>Desarrollo de Juegos y Simulaciones Visuales</h3>
            <p>Definición: El diseño de interfaces gráficas de usuario implica la creación de aplicaciones y programas que permiten a los usuarios interactuar con dispositivos y sistemas a través de elementos gráficos.</p>
            <p>Herramientas y Tecnologías: Swing, JavaFX, GTK, Qt, React.js, Angular.</p>
            <p>Importancia: Las interfaces gráficas de usuario son fundamentales para mejorar la usabilidad y la satisfacción del usuario al determinar cómo interactúan las personas con las aplicaciones y sistemas informáticos.</p>
        </section>
        
        <section id="seccion3">
            <h2>Programacion por bloques</h2>
            <table class="tabla">
        <tr>
            <th>Aspecto</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Definición</td>
            <td>La programación por bloques es un enfoque de programación que utiliza bloques gráficos o visuales para representar la lógica y el flujo de un programa.</td>
        </tr>
        <tr>
            <td>Facilidad de uso</td>
            <td>Este enfoque simplifica la creación de programas al permitir a los usuarios ensamblar bloques de código visualmente, sin necesidad de escribir código de programación tradicional.</td>
        </tr>
        <tr>
            <td>Entornos populares</td>
            <td>Existen varios entornos de programación por bloques ampliamente utilizados, como Scratch, Blockly, y MIT App Inventor, que son utilizados en entornos educativos y de desarrollo de software.</td>
        </tr>
        <tr>
            <td>Beneficios educativos</td>
            <td>La programación por bloques es especialmente útil en la enseñanza de conceptos de programación a estudiantes de todas las edades, ya que proporciona una forma intuitiva y visual de aprender a programar.</td>
        </tr>
        <tr>
            <td>Flexibilidad</td>
            <td>Estos entornos suelen ofrecer una amplia gama de bloques de código predefinidos que permiten a los usuarios crear una variedad de programas, desde juegos interactivos hasta aplicaciones móviles.</td>
        </tr>
      </table>
        </section>
        
    </main>
    <aside>
        <h2>JAVA</h2>
		<p>Es una tecnología que incluye un lenguaje de programación y una plataforma de desarrollo</p>
		<ul>
		<li>La plataforma Java</li>
		</ul>
		<p>Por definición, una plataforma es el ambiente hardware o software sobre el cual se puede
ejecutar un programa. La mayoría de las plataformas actuales se pueden describir como una
combinación de un sistema operativo y su hardware subyacente; por ejemplo, un pc con su
sistema operativo Windowsse denomina comúnmente plataforma Windows, una notebook con
una distribución Linux se denomina plataforma Linux y un celular con Android se conoce como
plataforma Android. Podemos encontrar componentes principales de la plataforma Java</p>
		<ul>
		<li>1. La máquina virtual de Java (Java Virtual Machine, JVM)</li>
		<li>2. La Interfaz de Programación de Aplicaciones Java (Java Application Programming
Interfaces, Java API) </li>
		</ul>
		<p>La JVM es un intérprete. Los intérpretes son programas que permiten traducir el código creado
por un programador en un lenguaje de alto nivel a código máquina.
Pero, la JVM es particularmente especial. En lugar de traducir código fuente, traduce un tipo de
código denominado bytecode al código máquina de la plataforma base al momento de ejecutar
la aplicación. El funcionamiento de la JVM y su asociación con el concepto multiplataforma se
describirán con mayor profundidad más adelante</p>
		<p>La API Java es una gran colección de componentes software que proveen muchas capacidades
útiles para el desarrollador. Está agrupada dentro de bibliotecas (libraries) conformadas por
clases e interfaces (conceptos que se desarrollarán en detalle más adelante). Estas bibliotecas
se conocen con el nombre de paquetes (packages)</p>
        <div style="display: flex;justify-content: center;">
        <img src="/img/logo.png" alt="Imagen Adicional">
		</div>
		<p></p>
		<div style="text-align: center;">
		<a href="https://www.java.com/es/" target="_blank">Descarga Java Aqui</a>
		</div>
		
    </aside>
    <p></p>
    <footer style="background-color: #57AEA1 ;margin-top: auto; display: block ; padding: 10px">
        <p>Contáctanos: leonelavendano13@gmail.com</p>
        <p>Síguenos en nuestras redes sociales:</p>
        <a href="#" style="padding: 10px">Facebook</a>
        <a href="#" style="padding: 10px">Twitter</a>
    </footer>
</body>
</html>